:root {
    --logo-color: #87EAC5;
    --secondary-color: #FF8AB3;
    --dark-color: #777;
    --light-color: rgb(245, 239, 239);
    --light-grey: #f7f7f7;

    --card-primary-light: #ffb900;
    --card-primary-dark: #ff7730;

    --card-secondary-light: #2998ff;
    --card-secondary-dark: #5643fa;
}
