.section-about {
    background-color: var(--light-grey);
    padding: 42rem 0;
    margin-top: -20vh;
}

.main-grid {
    display: flex;
    justify-content: space-between;

    div.main__text {
        flex: 1;
        font-size: 5rem;
        align-self: center;
        padding: 0 10rem;

        h3 {
            text-align: center;
        }
    }

    .main__image {
        flex: 1;
    }
}

.section-features {
    padding: 20rem 10rem;
    background-image: linear-gradient(
        to right bottom,
        rgba(160, 151, 77, 0.8),
        rgba(109,132,148,0.8)), 
        url(../img/kamp_nacrtano.jpg);
    background-size: cover;
    background-position: bottom;
    display: inline-flex;
    transform: skewY(-7deg);
    margin-top: -13rem;

    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: var(--light-grey);
    padding: 42rem 0 50rem 0;
    margin-top: -20vh;
}